.feed-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post-container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.featured-communities-container {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    width: 350px;
    height: fit-content;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.featured-communities-title {
    border-bottom: 1px solid #cccccc;
    font-size: 1.2em;
    padding: 15px;
}

.create-community-title {
    width: 100%;
    font-size: 1em;
    text-align: center;
    padding: 7px;
    border-radius: inherit;
    background-color: #f6f7f8;
    color: #FF5722;
    cursor: pointer;
}

.create-community-sticky {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 0;
    background-color:  #FF5722;
    color: #dbdbdb;
    font-size: 20px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    display: none;
    outline: none;
}
.create-community-sticky:focus {
    border: 2px solid #000000;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}