#post-content-container {
  margin: 0 auto;
  padding-top: 15px;
  display: grid;
  grid-template-columns: auto 1fr 40px;
  grid-template-rows: 50px auto 150px auto;
  grid-template-areas: "voting post-details"
                       "voting post-details"
                       "submit-comment submit-comment"
                       "comments comments";
  width: 70vw;
  border: 1px solid #edeff1;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  overflow-wrap: break-word;
  overflow: hidden;
}
.post-details {
  grid-area: post-details;
  display: flex;
  flex-direction: column;
}
.post-upper-part {
  font-size: 10px;
  display: flex;
  width: calc(70vw - 80px);
}
.post-upper-part h3:after {
  margin-left: 3px;
  content: '•';
  font-weight: 400;
}
.post-upper-part h3{
  font-weight: 800;
  margin-right: 3px;
}
.timestamp {
  font-size: 10px;
  margin-top: 7px;
}
.post-mid-part h3 {
  padding: 10px 0;
  font-weight: 800;
  font-size: 18px;
  width: calc(70vw - 80px);
}
.post-mid-part p {
  width: calc(70vw - 80px);
}
.post-mid-part {
  font-size: 14px;
  line-height: 20px;
}
.post-lower-part {
  margin-top: 10px;
}
.post-submit-comment {
  display: flex;
  grid-area: submit-comment;
  margin: 10px 0 0 40px;
}
.post-submit-comment form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.comment-input {
  outline: none;
  overflow: auto;
  padding: 6px;
  height: 100%;
  border: 1px solid #edeff1;
  border-radius: 4px;
  font-size: 14px;
}
.comment-input:empty:before {
  opacity: 50%;
  content: "What are your thoughts?";
}
.post-submit-comment [type="submit"] {
  align-self: flex-end;
  margin-top: 5px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f86e43;
  cursor: pointer;
}
.comments-container {
  grid-area: comments;
  margin: 50px 0 0 40px;
  height: calc(100%-50px);
}
.comment {
  display: grid;
  grid-template-areas: 'author points date'
                       'content content content';
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 1px solid #edeff1;
}
.upvote-comment, .downvote-comment {
  width: 15px;
	height: 15px;
	border-top: 5px solid grey;
	border-right: 5px solid grey;
	border-radius: 4px;
	cursor: pointer;
	transform: rotate(-45deg);
}
.voting-comment {
  margin-right: 10px;
  grid-area: voting;
} 
.downvote-comment {
	transform: rotate(-225deg);
}
.upvote-comment:hover {
	border-color: rgb(255,87,34)
}
.downvote-comment:hover {
	border-color: rgb(49, 113, 216);
}
.upper-part-comment {
  align-items: center;
  font-size: 10px;
  display: flex;
  margin-bottom: 10px;
}
.author {
  font-size: 11px;
  margin-right: 5px;
}
.points-date {
  display: flex;
}
.points {
  margin-right: 5px;
  color: rgb(139, 139, 139);
}
.date {
  color: rgb(139, 139, 139);
  margin-right: 10px;
}
.content {
  grid-area: content;
  font-size: 15px;
}
.edited {
  grid-area: edited;
  color: rgb(139, 139, 139);
}