#post-content-container {
  margin: 0 auto;
  padding-top: 15px;
  display: grid;
  grid-template-columns: auto 1fr 40px;
  grid-template-rows: 20px auto 150px auto;
  grid-template-areas: "voting post-details"
                       "voting post-details"
                       "submit-comment submit-comment"
                       "comments comments";
  width: 70vw;
  border: 1px solid #edeff1;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
.post-voting-post {
  display: flex;
  grid-area: voting;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 0;
  padding: 0 20px;
  border-top-left-radius: 10px;
}
.upvote-post {
  background-color: #2cbd54;
  width: 20px;
  height: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  cursor: pointer;
  }
.downvote-post {
  background-color: #f03636;
  width: 20px;
  height: 20px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
  }
.post-details {
  grid-area: post-details;
  display: flex;
  flex-direction: column;
}
.post-upper-part {
  display: flex;
}
.post-upper-part h3:after {
  margin-left: 3px;
  content: '•';
  font-weight: 400;
}
.post-upper-part h3{
  font-weight: 800;
  margin-right: 3px;
}
.timestamp {
  margin-top: 7px;
}
.post-mid-part h3 {
  padding: 10px 0;
  font-weight: 800;
  font-size: 18px;
}
.post-mid-part {
  font-size: 14px;
  line-height: 20px;
}
.post-lower-part {
  margin-top: 10px;
}
.post-submit-comment {
  display: flex;
  grid-area: submit-comment;
  margin: 10px 0 0 40px;
}
.post-submit-comment form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.comment-input {
  outline: none;
  overflow: auto;
  padding: 6px;
  height: 100%;
  border: 1px solid #edeff1;
  border-radius: 4px;
  font-size: 14px;
}
.comment-input:empty:before {
  opacity: 50%;
  content: "What are your thoughts?";
}
.post-submit-comment [type="submit"] {
  align-self: flex-end;
  margin-top: 5px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f86e43;
  cursor: pointer;
}
.comments-container {
  grid-area: comments;
  margin: 50px 0 0 40px;
  height: calc(100%-50px);
}

.comment {
  display: grid;
  grid-template-areas: 'author points date'
                       'content content content'
                       'edited edited edited';
  justify-content: start;
  margin: 10px 0;
  padding: 5px;
  border-bottom: 1px solid #edeff1;
}
.upper-part-comment {
  display: flex;
  margin-bottom: 10px;
}
.author {
  margin-right: 5px;
}
.points {
  margin-right: 5px;
  color: rgb(139, 139, 139);
}
.date {
  color: rgb(139, 139, 139);
  margin-right: 10px;
}
.content {
  grid-area: content;
  font-size: 15px;
}
.edited {
  grid-area: edited;
  color: rgb(139, 139, 139);
}