.create-post-container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	margin: 10px;
	border: 1px solid var(--border-color);
	border-radius: 4px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: var(--primary);
}
.link-submit-post {
	text-decoration: none;
	display: flex;
	flex-grow: 1;
	align-items: center;
	height: 30px;
	padding: 5px;
	margin: 0 20px;
	border: 1px solid var(--border-color);;
	border-radius: 4px;
	background-color: var(--secondary);
	color: #acacac;
	cursor: text;
	outline: none;
}
.link-submit-post:hover {
	border: 1px solid #246bee;
	background-color: var(--primary);
}
.create-post-btn {
	width: 100%;
	outline: none;
	background-color: inherit;
}