.post-voting {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: var(--secondary);
	color: var(--primary-text-color);
	max-width: 35px;
	height: 100%;
}
.upvote, .downvote {
	width: 15px;
	height: 15px;
	border-top: 5px solid grey;
	border-right: 5px solid grey;
	border-radius: 4px;
	cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.2s all;
    margin: 5px;
}
.downvote {
	transform: rotate(-225deg)
}
.upvote:hover {
	border-color: var(--logo-color);
	}
.downvote:hover {
	border-color: rgb(49, 113, 216);
}
.upvotedPost {
    border-color: var(--logo-color);
}
.downvotedPost {
	border-color: rgb(49, 113, 216);
}
.upvotedNumber {
    color: var(--logo-color);
}
.downvotedNumber {
    color: rgb(49, 113, 216);
}