.featured-communities {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 0.95em;
padding: 15px;
background-color: var(--primary);
border-bottom: 1px solid var(--border-color);
overflow-wrap: break-word;
color: var(--primary-text-color);
}