.log-in-container {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: var(--secondary);
	height: 100vh;
	padding: 10%;
}
.log-in-container h2 {
	margin: 0 0 20px;
	color: var(--logo-color);
	font-size: 21px;
}
.log-in-container input {
	outline: none;
	display: block;
	width: 100%;
	margin: 0 0 20px;
	padding: 10px 15px;
	border: 1px solid var(--border-color);
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	transition: 0.2s linear;
}
.log-in-container input:focus {
	color: #333;
	border: 1px solid var(--logo-color);
}
.log-in-container button {
	cursor: pointer;
	background: var(--logo-color);
	width: 100%;
	padding: 10px 15px;
	border: 0;
	color: var(--primary);
	font-size: 14px;
}
.log-in-container button:hover {
	  background: rgb(207, 87, 7);
}
.links {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
 .back-to-hp {
	margin-top: 20px;
	color: var(--logo-color);
	text-decoration: none;
}
.sign-up-instead {
	color: var(--logo-color);
	text-decoration: none;
}
.login-failed, .logged-in{
	color: rgb(195, 19, 19);
	text-align: center;
	margin: 20px 0;
}
.logged-in {
	color: rgb(25, 93, 25)
}