.form-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5% 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-header {
    margin-bottom: 50px;
    width: 100%;
}
.form-header h2{
    font-weight: 800;
}
.form-header h2:after {
    content: '';
    display: block;
    border-bottom: 1px solid var(--primary);
    margin: 15px 0;
}
.form-header select {
	display: block;
	font-size: 16px;
	font-family: inherit;
	color: #444;
	padding: .6em 1.4em .5em .8em;
    width: 70%;
    min-width: 200px;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 5px;
	background-color: var(--primary);
	background-image: linear-gradient(to bottom, var(--primary) 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
    background-size: 100%;
    outline: none;
}
.form-header select:focus {
    border: 1px solid #6d6d6d;
}
input[placeholder="Choose a community"] {
    padding: 8px;
    margin-top: 5px;
    outline: none;
    border-radius: 4px;
}
.form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-radius: 4px 4px 0 0;
}
.form-container form input:focus {
    border: 1px solid black;
    outline: none;
}
.form-container input[placeholder="Title"] {
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}
.form-container textarea[placeholder="Text (optional)"] {
    padding: 10px 10px 150px 10px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    resize: none;
    font-family: inherit;
    font-size: 14px;
    outline: none;
}
.form-container textarea[placeholder="Text (optional)"]:focus {
    border: 1px solid black;
}
.buttons-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: var(--primary);
    padding: 5px 10px 10px 10px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 0 0 4px 4px;
}
.buttons-container input {
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #0079d3;
    border-radius: 4px;
    text-decoration: none;
    background-color: #0079d3;
    color: v;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.buttons-container input[value="POST"]:hover {
    background-color: #f0f6fb;
}
.buttons-container input[value="CANCEL"]:hover {
    background-color: #83c9ff;
    border: 1px solid #83c9ff;
}
.buttons-container input[value="POST"] {
    margin-left: 10px;
    background-color: var(--primary);
    color: #0079d3;
}