#post-container {
	min-width: 10px;
	width: 100%;
	display: flex;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: 0.5px solid var(--post-border-color);
	border-radius: 4px;
	margin-left: 10px;
	margin-bottom: 3px;
	color: var(--primary-text-color);
}
.post-link {
	width: 100%;
	text-decoration: none;
	color: var(--primary-text-color);;
}
.post-main {
	display: grid;
	justify-content: start;
	grid-template-areas:
		'community posted-by date'
		'title title title'
		'comments comments comments';
	grid-gap: 15px 40px;
	padding: 10px 25px 5px 10px;
	background-color: var(--primary); 
	border-radius:  0 4px 4px 0;
}
.upper-part {
	font-size: 12px;
}
.community {
	grid-area: community;
	margin-right: 10px;
	color: var(--primary-text-color);
}
.link {
	text-decoration: none;
	color: var(--primary-text-color);
}
.link:hover {
	text-decoration: underline;
}
.posted-by {
	grid-area: posted-by;
	margin-right: 10px;
	color: var(--secondary-text-color);
}
.date-posted {
	grid-area: date;
	color: var(--secondary-text-color);
}
.post-title {
	grid-area: title;
	word-break: break-word;
	color: var(--primary-text-color);
}
.comments {
	font-size: 15px;
	grid-area: comments;
	color: var(--secondary-text-color);
}