#post-container {
	min-width: 10px;
	width: 100%;
	display: flex;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin-left: 10px;
	margin-bottom: 3px;
}

.post-link {
	width: 100%;
	text-decoration: none;
	color: #000000;
}

.post-main {
	display: grid;
	justify-content: start;
	grid-template-areas:
		'community posted-by date'
		'title title title'
		'comments comments comments';
	grid-gap: 15px 40px;
	padding: 10px 25px 5px 10px;
	background-color: #ffffff;
	border-radius:  0 4px 4px 0;
}
.upper-part {
	font-size: 12px;
}
.community {
	grid-area: community;
	margin-right: 10px;
}

.posted-by {
	grid-area: posted-by;
	margin-right: 10px;
}

.date-posted {
	grid-area: date;
}

.post-title {
	grid-area: title;
	word-break: break-word;
}

.comments {
	grid-area: comments;
}