#user-profile-container {
    display: flex;
    flex-direction: column;
    font-size: 17px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-text-color);
}
.user-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.profile-picture {
    background-color: var(--primary);
    border-radius: 50%;
    margin-top: 5px;
    width: 100px;
}
.username {
    font-size: 20px;
    margin: 10px 0
}
#profile-post-container {
    max-width: 1000px;
    min-width: 1000px;
    display: flex;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid var(--post-border-color);
    border-bottom: 0px;
    border-radius: 4px;
}
.posts-user-profile {
    margin: 0 auto;
    border-bottom: 1px solid var(--post-border-color);
}

@media only screen and (max-width: 1000px) {
    #profile-post-container {
        min-width: 100%;
    }
    .community-side-info {
        max-width: 97%;
    }
    
}